<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coursework 1</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="activities.js"></script>
</head>
<body>
    <h1>After School Activities Catalog</h1>
    <main id="app" style="display: grid; grid-template-columns: 1fr 2fr;">
        <div style="display:inline-block">
            <h2>Sort By:</h2>
            <input name="attribute" type="radio" @click=""><label>Title</label><br>
            <input name="attribute" type="radio" @click=""> <label>Price</label><br>
            <input name="attribute" type="radio" @click=""><label>Location</label><br>
            <input name="attribute" type="radio" @click=""><label>Spaces</label><br><br>
            <input name="direction" type="radio" @click=""><label>Ascending</label><br>
            <input name="direction" type="radio" @click=""><label>Descending</label>
        </div>
        <div style="display: inline-block;" v-if="showActivity">
            <div v-for="activity in activities">
                <img style="max-height: 15em" v-bind:src="activity.image"/>
                <h2 v-text="activity.title"></h2>
                <p>Location: {{activity.location}}</p>
                <p>Price: {{activity.price}} AED</p>
                <p>Available spaces: {{activity.spaces-cartCount(activity.id)}}</p>
                <span>
                <span v-for="n in activity.rating"><i class="fas fa-star"></i></span>
                <span v-for="n in 5-activity.rating"><i class="far fa-star"></i></span>
                </span>
                <button @click="addToCart(activity)" v-if="canAddToCart(activity)">Add To Cart</button>
                <button disabled="disabled" v-else>Add To Cart</button>
                <span v-if="activity.spaces === cartCount(activity.id)">All Out!</span>
                <span v-else-if="activity.spaces - cartCount(activity.id) < 5">
                Only {{activity.spaces - cartCount(activity.id)}} left!</span>
            </div>
        </div>
    </main>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            activities: activities,
            cart: [],
            showActivity: true,
        },
        methods: {
            addToCart(activity){
                console.log(activity.id + " "+ activity.title+" was added to the cart!");//for debugging purposes
                this.cart.push(activity.id);
            },
            canAddToCart: function (activity) {
                return activity.spaces > this.cartCount(activity.id);
            },
            cartCount(id) {
                let count = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                        count++;
                    }
                }
                return count;
            },
        }
        });
</script>
</html>