<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coursework 1</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <script src="activities.js"></script>
</head>
<body>
    <h1>After School Activities Catalog</h1>
    <main id="app">
        <sidebar>
            <h2>Sort</h2>
            <input type="radio" @click="sortPriceA"> Price Ascending <br>
            <input type="radio" @click="sortPriceD">Price Descending
        </sidebar>
        <div v-if="showActivity">
            <div v-for="activity in activities">
                <img style="max-height: 15em" v-bind:src="activity.image"/>
                <h2 v-text="activity.title"></h2>
                <p>Location: {{activity.location}}</p>
                <p>Price: {{activity.price}} AED</p>
                <p>Available spaces: {{activity.spaces}}</p>
                <span>
                <span v-for="n in activity.rating"><i class="fas fa-star"></i></span>
                <span v-for="n in 5-activity.rating"><i class="far fa-star"></i></span>
                </span>
                <button @click="addToCart(activity)">Add To Cart</button>
                Only {{activity.spaces}} left!</span>
            </div>
        </div>
    </main>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            activities: activities,
            cart: [],
            showActivity: true,
        },
        methods: {
            addToCart(activity){
                console.log(activity.id + " "+ activity.title+" was added to the cart!");//for debugging purposes
                this.cart.push(activity.id);
                activity.spaces-=1;
            },
            
            sortPriceA: function(){
                this.activities.sort((a,b)=> a.price>b.price? 1:-1);
            },
            sortPriceD: function(){
                this.activities.sort((a,b)=> a.price < b.price? 1:-1);
            },
        }
        });
</script>
</html>